*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Hanken Grotesk',sans-serif;
}
main{
    width: 80%;
    margin: 20% auto;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}
.rating{
    background-image: linear-gradient(45deg, #106dee 0%, #1919af 45%, #a706f2 100%);
    width: 50%;
    height: 380px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.rating h2{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.rating h1{
    color: white;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.grade{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(64, 10, 213);
    background-image: linear-gradient(135deg, #3bbfef 0%, #478289 35%, #0e087c 65%);
    border-radius:50%;
}
.ranking{
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.out_of{
    color: rgb(207, 203, 203);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.evaluation{
    color: white;
    display: inline-block;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.summary{
    width: 50%;
    border-radius: 15px;
    position: relative;
    box-shadow: 10px 4px 19px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 4px 19px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 4px 19px -10px rgba(0,0,0,0.75);
}
.skill{
    height: 45px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.summary h2{
    position: absolute;
    top: 5px;
    left: 10%;
}
.skills{
    margin-top: 20%;
}
#continue{
    width: 80%;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 10%;
    border-radius: 84px 82px 82px 81px;
    -webkit-border-radius: 84px 82px 82px 81px;
    -moz-border-radius: 84px 82px 82px 81px;
    color: white;
    background-image: linear-gradient(45deg, #020024 0%, #090979 35%, #a706f2 100%);
    border: none;
}
.skill span{
    color: black;
}
#reaction{
    color: orangered;
    background-color: rgb(237, 233, 227);
}
#memory{
    color: rgb(189, 186, 6);
    background-color: rgb(237, 233, 227);
}
#verbal{
    color: lightseagreen;
    background-color: #cbebd9;
}
#visual{
    color: #1919af;
    background-color: rgb(167, 212, 235);
}
.attribution{
    text-align: center;
    font-size: 11px;
}
@media(max-width:450px){
    main{
        flex-direction: column;
        width: 90%;
    }
    .rating{
        width: 100%;
        margin-top: -25%;
        margin-bottom: 5%;
        left: -5%;
    }
    .summary{
        width: 90%;
        height: 400px;
    }
    .skills{
        margin-left: 0;
    }
    #continue{
        bottom: 15px;
        left: 5%;
    }
}

